@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("../fonts/TT Lakes Regular"),
    local("../assets/fonts/TTLakes-Regular"),
    url("../assets/fonts/TTLakes-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Regular.woff") format("woff"),
    url("../assets/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("../fonts/TT Lakes Medium"),
    local("../assets/fonts/TTLakes-Medium"),
    url("../assets/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Medium.woff") format("woff"),
    url("../assets/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("../fonts/TT Lakes Bold"), local("../assets/fonts/TTLakes-Bold"),
    url("../assets/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Bold.woff") format("woff"),
    url("../assets/fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
}

.body-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "TT Lakes";
}

.header {
  height: 88px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0px 16px 0px 16px;
}

.link-icon {
  line-height: 0;
}

.header__logo-icon {
  margin-left: 16px;
}

.header__logo-icon_line:after {
  content: "";
  background: #eaeaea;
  height: 32px;
  width: 2px;
  border-radius: 1px;
  display: inline-block;
  position: absolute;
  margin: 10px 0px 0px 16px;
}

.header__logo-icon_line::before {
  content: "";
  background: #eaeaea;
  height: 32px;
  width: 2px;
  border-radius: 1px;
  display: none;
  position: absolute;
  margin: 10px 0px 0px -22px;
}

.nav-section {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-section li {
  margin-right: 16px;
}

.nav-section li:last-child {
  margin-right: 0px;
}

.nav-section li:nth-child(3) {
  margin-right: 42px;
}

.nav-section li:nth-child(-n + 3) {
  display: none;
}

.nav-section li:nth-child(3):after {
  content: "";
  background: #eaeaea;
  height: 32px;
  width: 2px;
  border-radius: 1px;
  display: inline-block;
  position: absolute;
  margin: 4px 0px 0px 60px;
}

.button {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-width: 0;
  box-shadow: 1px 1px 1px rgb(157, 157, 157);
  border-radius: 50%;
}

.button img:hover {
  transform: scale(1.09);
  box-shadow: 3px 3px 3px rgb(157, 157, 157);
  border-radius: 50%;
}

.button img:active {
  transform: scale(1.03);
}

.main {
  background: #f8f8f8;
}

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 24px 16px 0px 16px;
  margin-bottom: 24px;
}

.title {
  line-height: 40px;
  font-size: 28px;
  letter-spacing: -0.6px;
}

.title::before {
  content: "";
  background: #41f6d7;
  height: 40px;
  width: 3px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  margin-left: -16px;
}

.title__communication {
  display: none;
}

.title__communication .button {
  background: #f8f8f8;
  border-width: 0px;
  box-shadow: 0px 0px 0px rgb(157, 157, 157);
  border-radius: 0%;
  border: 2px solid #f8f8f8;
  padding: 5px;
}

.title__communication .button:hover {
  box-shadow: 1px 1px 1px rgb(157, 157, 157);
  transform: scale(1.03);
  background: #ffffff;
  border-radius: 20px;
  border-color: rgb(195, 195, 195);
  transition: border-color 5s;
  transition: transform 0.25s;
  transition: background 0.3s;
}

.title__communication .button img:hover {
  transform: scale(1);
  box-shadow: 0px 0px 0px rgb(157, 157, 157);
}

.title__communication .button:active {
  border-color: #68fdd5;
  transform: scale(1.01);
}

.title__repair {
  margin-right: 32px;
}

.title__button-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  margin-right: 8px;
}

.main__nav {
  padding-right: 16px;
  margin-bottom: 24px;
}

.list {
  display: flex;
  align-items: center;
  list-style-type: none;
  overflow: scroll;
}

.list a {
  text-decoration: none;
  color: #1b1c21;
  line-height: 42px;
  border: 2px solid #f8f8f8;
  border-radius: 6px;
  padding: 8px 16px;
  margin: 0px 2px;
}

.list a:hover {
  border-color: rgb(183, 183, 183);
  transition: border-color 0.5s;
  box-shadow: 1px 1px 1px rgb(157, 157, 157);
}

.list a:active {
  border-color: #00ffbb;
  transition: border-color 0s;
}

.list a:focus {
  border: 2px solid #7bffd8;
  transition: border 0.5s;
}

.list li:active {
  transform: scale(0.993);
}

.list li:hover {
}

.list__item {
  border-radius: 6px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;

  margin-bottom: 4px;
}

.list__item_activ {
  background: #ffffff;
  border: 2px solid #b8ffec;
  padding: 8px 16px;
  margin-right: 4px;
  border-radius: 6px;
  box-sizing: content-box;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.discription-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  padding: 0px 16px;
  margin-bottom: 16px;
}

.discription-text__up {
  margin-bottom: 30px;
}

.discription-text__down {
  display: none;
  margin-bottom: 10px;
}
.discription-text__down_hide {
  display: none;
}

.discription-text__open {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding-left: 8px;
  margin-bottom: 24px;
}

.discription-text__open button {
  background: #f8f8f8;
  border-width: 0;
}

.discription-text__open button:hover {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.discription-text__open button:active {
  transform: scale(1);
  transition: transform 0.25s;
}

.open {
}

.main__pic {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .header {
    padding: 0 24px;
  }

  .header__logo-icon {
    margin-left: 42px;
  }

  .header__logo-icon_line::before {
    display: inline-block;
  }

  .header__logo-icon_line:after {
    display: none;
  }

  .nav-section li:nth-child(-n + 3) {
    display: flex;
  }

  .main__header {
    padding: 24px 24px 0px 24px;
    margin-bottom: 32px;
  }

  .title::before {
    margin-left: -24px;
  }

  .main__nav {
    padding: 0px 0px 0px 24px;
    margin-bottom: 32px;
  }

  .main__content {
    flex-direction: row;
  }

  .discription-text {
    line-height: 20px;
    width: 50%;
    padding: 0 24px;
    padding-right: 48px;
  }
  .discription-text__down {
    display: block;
  }

  .discription-text__open {
    padding-left: 9px;
  }

  .main__pic {
    padding-right: 25px;
    border-radius: 5px;
    width: 50%;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .main__header {
    padding: 42px 32px 0px 32px;
    margin-bottom: 8px;
  }

  .title::before {
    margin-left: -32px;
  }

  .title__communication {
    display: flex;
  }

  .main__nav {
    padding: 0px 16px 0px 32px;
    margin-bottom: 20px;
  }

  .list {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .discription-text__down {
    margin-bottom: 14px;
  }

  .discription-text__down_hide {
    display: inline;
  }

  .discription-text__open {
    padding-left: 6px;
  }

  .main__pic {
    padding-right: 32px;
  }
}
